<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsa culpa optio ab nam unde at hic ducimus, qui quos quidem nostrum quibusdam eos eligendi id earum, rerum in? Numquam, dolore magni? Aliquid nam id praesentium expedita laborum quasi, harum porro ullam, ipsa iure a possimus molestiae, provident vel nemo neque eveniet animi magnam unde libero ad! Voluptas provident id, quos totam vitae assumenda fugiat at omnis placeat voluptates ipsum distinctio reprehenderit nam ut consequatur iusto sapiente dolor ea autem vero ullam rerum ducimus a? Porro cum quos excepturi eius, sed in quis inventore perspiciatis delectus placeat rerum vero nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsa culpa optio ab nam unde at hic ducimus, qui quos quidem nostrum quibusdam eos eligendi id earum, rerum in? Numquam, dolore magni? Aliquid nam id praesentium expedita laborum quasi, harum porro ullam, ipsa iure a possimus molestiae, provident vel nemo neque eveniet animi magnam unde libero ad! Voluptas provident id, quos totam vitae assumenda fugiat at omnis placeat voluptates ipsum distinctio reprehenderit nam ut consequatur iusto sapiente dolor ea autem vero ullam rerum ducimus a? Porro cum quos excepturi eius, sed in quis inventore perspiciatis delectus placeat rerum vero nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsa culpa optio ab nam unde at hic ducimus, qui quos quidem nostrum quibusdam eos eligendi id earum, rerum in? Numquam, dolore magni? Aliquid nam id praesentium expedita laborum quasi, harum porro ullam, ipsa iure a possimus molestiae, provident vel nemo neque eveniet animi magnam unde libero ad! Voluptas provident id, quos totam vitae assumenda fugiat at omnis placeat voluptates ipsum distinctio reprehenderit nam ut consequatur iusto sapiente dolor ea autem vero ullam rerum ducimus a? Porro cum quos excepturi eius, sed in quis inventore perspiciatis delectus placeat rerum vero nisi.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>